<div class="title">
    <% include ../views/head %>
    <form class="col-md-6 col-md-offset-3">
        <textarea  rows="30" class="col-xs-12" disabled> Deneme</textarea>

      <div class="row">
        <div class="col-sm-10 pull-left">
          <input type="text" class="form-control"></input>
        </div>
        <div class="col-sm-2 pull-right">
          <button class="btn btn-lg btn-primary btn-block"  type="submit" >Send</button>
        </div>
      </div>
    </form>

</div>
