<div class="title">
    <% include ../views/head %>

    <form class="col-md-10 col-md-offset-1">
        <textarea id="content" name="content" rows="30" class="form-control" > Deneme</textarea>
    </form>

</div>
