<div class="ng-scope" ng-app="app" >

  <% include ../views/head %>
  <form class="form-signin" ng-controller="signUpController"
        name="user" action="/giris" method="post" ng-submit="submit()" novalidate>
    <h2 class="form-signin-heading">Please sign in</h2>

    <div  class="control-group">
      <input type="email" ng-model="data.email" name="emailAddress" class="form-control"
             placeholder="Email address" ng-minlength="5" ng-maxlength="30" required >

      <div ng-messages="user.emailAddress.$error" ng-if="interacted(user.emailAddress)" multiple>
        <div ng-message="required">You forgot to enter your email address</div>
        <div ng-message="minlength">Your email address is too short</div>
        <div ng-message="maxlength">Your email address is too long</div>
        <div ng-message="email">You did not enter your email address correctly</div>
      </div>
    </div>
    <div class="control-group">
      <input type="password" ng-model="user.password" name="psword" class="form-control"
             placeholder="Password" ng-minlength="6" ng-maxlength="12" required>
      <div ng-messages="user.psword.$error" ng-if="interacted(user.psword)">
        <div ng-message="required">This field cannot be blank</div>
        <div ng-message="minlength">The value for this field is too short</div>
        <div ng-message="maxlength">The value for this field is too long</div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      Don't have an account!
      <a href="kayit" >Sign up here</a>

  </form>
</div>
